*.body{
    margin: 0px;
    padding: 0px
}

.row.content {
    height: 100%;
    margin: 10px;
  }
  
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .row.content {
      height: auto;
    }
}